/* Global styles */
a:link {
    color: black;
}

a:visited {
    color: goldenrod;
}

a:hover {
    color: brown;
    font-weight: bold;
}

body {
    margin: 0;
    background-color: darkgreen;
    background-repeat: no-repeat;
    background-image: url('./images/IMG_2641.jpeg');
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
}

#wrapper {
    background-color: darkgreen;
    margin-left: auto;
    margin-right: auto;
}

/* Header styles */
header {
    padding: 1em;
    background-color: darkgreen;
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
}

header a {
    text-decoration: none;
}

header a:link {
    color: black;
}

header a:visited {
    color: goldenrod;
}

header a:hover {
    color: brown;
}

/* Navigation styles */
nav {
    font-size: 1.2em;
    text-align: center;
    background-color: forestgreen;
}

nav a {
    text-decoration: none;
}

nav ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    list-style: none;
    padding-left: 0;
}

nav li {
    padding: 0.5em 1em;
    border-bottom: 1px solid;
}

/* Typography */
h1 {
    font-size: 2.5em;
    text-align: center;
    color: black;
}

h2 {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    color: black;
}

/* Footer styles */
footer {
    padding: 1em;
    font-size: 0.70em;
    font-style: italic;
    text-align: center;
    background-color: darkgreen;
}

/* Main content */
main {
    padding: 1em;
    display: block;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
    width: 90%;
}

table td, th {
    padding: 5px;
    border: 1px solid black;
}

table td {
    text-align: center;
}

table tr:nth-of-type(even) {
    background-color: lightgoldenrodyellow; 
}

table tr:nth-of-type(odd) {
    background-color: lightgray; 
}

caption {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 10px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: darkgreen;
}

tbody td {
    padding-left: 25px;
}

thead, tfoot {
    background-color: white;
    font-weight: bold;
    text-align: center;
}

img {
    display: block;
    margin: auto;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

video {
    display: block; 
    margin: auto; 
    border: 2px solid darkgreen;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}



/* Section-specific styling */
#aboutme, #bodywaxing, #advancedfacials, #spraytans, #permanentjewelry {
    height: 400px;
    background-image: url('./images/18994.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* Mobile view */
@media (max-width: 600px) {
    img {
        width: 100%;
        height: auto;
    }

    nav ul {
        flex-direction: column;
    }

    table {
            display: block;
            overflow-x: auto;
            white-space: nowrap;
        }
}

/* Tablet view */
@media (min-width: 600px) {
    form {
        width: 60%;
        display: grid;
        grid-template-columns: 10em 1fr;
        gap: 1em;
    }

    input[type=submit] {
        grid-column: 2 / 3;
        width: 9em;
    }

    h1 {
        font-size: 2em;
        letter-spacing: 0.25em;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-around;
        padding: 0 2em;
    }

    nav li {
        width: 12em;
        border-bottom: none;
    }

    #wrapper {
        width: 80%;
    }
}

/* Desktop view */
@media (min-width: 1024px) {
    body {
        background-image: none;
        background-color: darkgreen;
    }
}
